# PATH_UPLOAD = PATH_PROJ + 'features/upload/'

USER = {
  'valid': {
      'email': 'YOUR_EMAIL',
      'pass': 'YOUR_PASS',
      'username': '@YOUR_USERNAME'
  },
  'invalid': {
      'email': 'spy@spy.com.br',
      'pass': 'mudar123',
  },
}